package templates

import "strconv"

type Gopher struct {
	Name    string
	Surname string
	Age     int
}

templ Hello(name, surname string, goph Gopher) {
	<h1>Hello :: { name } { surname } </h1>
	<h2>How are you doing today?</h2>
		<p>Hello, { goph.Name } { goph.Surname }. You are { strconv.Itoa(goph.Age) } years old.</p>
	<p>Have a nice day!</p>
}
